@mixin display($d: flex, $fd: column, $ai: center) {
  display: $d;
  flex-direction: $fd;
  align-items: $ai;
}

.card {
  box-sizing: border-box;
  padding: 32px;
  width: 320px;
  height: 180px;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  @include display();
}

.darkred {
  color: darkred;
}
